* {
    margin: 0;
}

body{
    font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #212529;
    width: 100%;
    background-color: #eef0f2;
}

#page-heading{
    margin-bottom: auto;
    margin-top: auto;
}

.add-project-container{
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.add-project-container:hover {
    background-color: #00008c40;

}

#addition-symbol{
    font-weight: 500;
    font-size: 2.2em;
}

.add-project-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-project-btn{
    font-size: 1.0rem;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}

.symbol-container{
    display: flex;
    align-items: stretch;
}

#add-project-text{
    font-size: 19px;
    padding-left: 10px;
}

#search-bar{
    border-radius: 8px;
    border: none;
    font-size: medium;
    padding: 5px 149px 5px 7px;
    outline: none;
}

.sidebar{
    background-color: #212529;
    height: 700px;
    width: 250px;
    color: white;
    position: absolute;
    z-index: 1;
    overflow: auto;
    min-height: 500px;
}  

.display-categories{
    padding-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.category-item{
    cursor: pointer;
    margin: 4px 0 10px 0;
    padding: 8px 0 8px 12px;
}

.category-item:hover{
    background-color: darkgrey;
}

.sidebar-projects{
    padding-left: 12px;
    margin-top: 14px;    
}

#projects-subheading{
    font-size: larger;
}

.add-project-screen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.05);
    padding-top: 150px;
}

#add-project-form{
    color: black;
    margin: 0 auto;
    width: 500px;
    top: 1.8rem;
    border-style: ridge;
    box-shadow: 10px 10px 10px rgba(156, 154, 154, 0.247);
    animation-name: animatetop;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

#project-form-name{
    width: 99.4%;
    height: 49px;
    font-size: 21px;
    padding-left: 5px;
    border-style: ridge;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #00000030;
}

#form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 8px;
    background-color: #bfbfe2;
}

.form-button{
    padding: 6px 20px 8px 20px;
    background-color: #96a2ad;
    color: white;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

#add-project-button{
    padding-right: 32px
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:180px; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:180px; opacity:1}
}



#todos-heading{
    color: #212529;
    font-size: 1.9rem;
}

.project-name{
    margin-top: 25px;
}

.projects-list{
    list-style-type: none;
}

.project-heading-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.project-heading{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
}


.add-task-symbol{
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 20px;
    cursor: pointer;
}

.add-task-symbol:hover{
    background-color: rgba(156, 154, 154, 0.247);
}

.todo-list-items{
    display: flex;
    flex-direction: column;
}

.todo-list-item{
    background-color: #eef0f2;
    padding: 0px 10px 0px 5px;
    border-style: outset;
    border-radius: 8px;
    margin: 5px 0 5px 20px;
    overflow-wrap: anywhere;
}
  
.fas{
    font-size: 24px;
}

.summary-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.radio-title-container{
    display: flex;
    align-items: center;
}

.todo-title{
    margin-left: 6px;
}

.todos-container{
    margin-left: 426px;
    margin-top: 40px;
    width: 50%;
    position: relative;
}


.details{
    margin-top: 5px;
    margin-bottom: 5px;
}

#todo-notes{
    font-size: 14px;
    color: #4d5156;
}

#todo-priority{
    font-weight: 600;
}

.details-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #4d5156;
    font-size: 14px;
}

.details-container.hidden{
    display: none;
}

.edit-task-buttons{
    display: flex;
    flex-direction: row;
    width: 183px;
    justify-content: space-evenly;
}

.down-arrow{
    color: black;
    font-size: 20px;
}

.project-name{
    padding-left: 10px;
}

.sidebar-project{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    word-break: break-all;
    align-items: center;
}

.sidebar-project:hover{
    cursor: pointer;
    background-color: darkgrey;
}

.task-tally{
    padding-right: 25px;
}
.sidebar-projects-list{
    list-style-type: none;
    align-items: baseline;
    margin-top: 10px;
    padding-left: 0;
}

.sidebar-project-nam::before{
    list-style-type: none;
    width: 1.25em;
    line-height: 0;
    content: '\276F';
    color: white;
    display: inline-block;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.sidebar-project-name{
    cursor: pointer;
}

.sidebar-task-title{
    color: white;
    list-style-type: none;
    font-size: 14px;
    padding-left: 22px;
    margin-top: 4px;
}

.sidebar-project-name:hover::before{
    transform: rotate(90deg);
}

.sidebar-tasks-collapse.hidden{
    display: none;
}

.sidebar-tasks-collapse.shown{
    display: block;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    color: white;
}

.add-task-screen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.05);
    padding-top: 150px;
}

#add-task-form{
    color: black;
    margin: 0 auto;
    width: 645px;
    height: 182.2px;
    top: 1.8rem;
    border-style: ridge;
    box-shadow: 10px 10px 10px rgba(156, 154, 154, 0.247);
    animation-name: animatetop;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

.form-text-container{
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
}

.form-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -2px;
    background-color: #b5b5d6;
}

#task-form-name{
    outline: none;
    border: none;
    height: 50px;
    font-size: 18px;
    padding-left: 5px;
}

#notes-form{
    outline: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: ridge;
    font-size: 16px;
    overflow: hidden;
    overflow-wrap: break-word;    
    height: 80px;
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
}

.priority-buttons{
    padding-left: 5px;
}



#low{
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(2, 0, 0, 0);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #070000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s; 
    background-color: #84f14e;
    cursor: pointer;
}

#low:hover{
    border-color: rgb(5, 0, 0)
}

#normal{
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(2, 0, 0, 0);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #070000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s; 
    background-color: #f1bb4e;
    cursor: pointer;
}

#normal:hover{
    border-color: rgb(5, 0, 0)
}

#urgent{
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(2, 0, 0, 0);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #070000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s; 
    background-color: #f14e4e;
    cursor: pointer;
}

#urgent:hover{
    border-color: rgb(5, 0, 0)
}

.priority-button.clicked{
    border-color: rgb(5, 0, 0)!important;
}


#low:active{
    transform: scale(0.9);
}

#normal:active{
    transform: scale(0.9);
}

#urgent:active{
    transform: scale(0.9);
}

#submit-task-button{
    padding: 0.3em 1.2em;
    border: 0.16em solid #00008c40;
    margin: 0 0.1em 0.1em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: white;
}

#submit-task-button:hover{
    color: #FFFFFF;
    background-color: #212529;
}

#submit-task-button:active{
    transform: scale(0.9);
}

#cancel-task-button{
    padding: 0.35em 1.2em;
    border: 0.1em solid #00008c40;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: white;
}

#cancel-task-button:hover{
    color: #FFFFFF;
    background-color: #212529;
}

#cancel-task-button:active{
    transform: scale(0.9);
}

#task-form-date{
    height: 26px;
}